#menu__toggle {
  opacity: 0;
}

@media (max-width: 6000px) {
  .hamburger-menu {
    display: none;
  }
}

@media (max-width: 944px) {
  .hamburger-menu {
    display: block;
  }
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::after {
  display: block;
  position: absolute;
  border-radius: 30px;
  width: 36px;
  height: 2px;
  background-color: black;
}

.menu__btn > span::after {
  width: 20px;
  content: '';
  top: 8px;
  right: 0;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu__toggle:checked ~ .menu__btn > span {
  width: 75%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.hamburger-menu {
  position: relative;
}

.hamburger-menu .button-general {
  padding: 18px 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  z-index: 1;
  background-color: #fff;
}

.menu__box .left {
  text-align: left;
  margin-top: 20px;
}

.menu__box .burger-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  margin-left: 20px;
}

.menu__item {
  display: block;
  text-align: left;
  color: #000;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  margin: 45px 0 0 20px;
}

.menu__item:hover {
  background-color: #cfd8dc;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__box {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
