@font-face {
	font-family: 'inter-regular'; 
	src: url('../fonts//inter//Inter-Regular.woff'); 
}
@font-face {
	font-family: 'SF-heavy'; 
	src: url('../fonts/SF/SFUIText-Heavy.woff'); 
}
@font-face {
	font-family: 'SF-semibold'; 
	src: url('../fonts/SF/SFUIText-Semibold.woff'); 
}
@font-face {
	font-family: 'SF-medium'; 
	src: url('../fonts/SF/SFUIText-Medium.woff'); 
}
@font-face {
	font-family: 'SF-regular'; 
	src: url('../fonts/SF/SFUIText-Regular.woff'); 
}



